body {
  margin: 0;
  padding: 0;
  background-color: rgb(11, 15, 20);
  font-size: 16px;
  font-weight: 400;
  color: white;
  font-family: "Montserrat", serif;
}

.container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  font-size: 18px;
  font-weight: 700;
  color: white;
  font-family: "Montserrat", serif;
  box-shadow: 1px 0 0 1px rgba(209, 192, 43, 0.534);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0 10px;
}
header nav a {
  width: 80px;
  color: white;
  text-decoration: none;
  transition: color 0.2s linear;
}
header nav a:hover {
  color: rgb(209, 193, 43);
  text-decoration: underline;
}
header .feet {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0 15px;
}
header .feet img {
  width: 40px;
  cursor: pointer;
}

.container_home {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px 0;
}
.container_home img {
  width: 100%;
  max-width: 400px;
}
.container_home p {
  font-size: 18px;
  font-weight: 700;
  color: white;
  font-family: "Montserrat", serif;
  text-shadow: 2px 0 1px rgb(209, 193, 43);
}

.logo-container {
  display: flex;
  align-items: center;
}
.logo-container img {
  margin-right: 10px;
  width: 200px;
  height: 50px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.product-item {
  background: #fff;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 600px;
  font-size: 18px;
  font-weight: 700;
  color: rgb(11, 15, 20);
  font-family: "Montserrat", serif;
  box-shadow: 1px 2px 4px rgb(209, 193, 43);
}
.product-item img {
  max-width: 100%;
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 10px;
}
.product-item button {
  background: rgb(11, 15, 20);
  font-size: 14px;
  font-weight: 700;
  color: rgb(209, 193, 43);
  font-family: "Montserrat", serif;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}
.product-item button:hover {
  background: #555;
}

.product-details {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 20px auto;
}
.product-details img {
  max-width: 100%;
  max-height: 400px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 10px;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 15px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 700;
  color: rgb(11, 15, 20);
  font-family: "Montserrat", serif;
  box-shadow: 1px 2px 4px rgb(209, 193, 43);
  margin-bottom: 10px;
}
.cart-item img {
  max-width: 80px;
  max-height: 80px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 10px;
  margin-right: 10px;
}

.form-container {
  max-width: 600px;
  margin: 20px auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 700;
  color: rgb(11, 15, 20);
  font-family: "Montserrat", serif;
  box-shadow: 1px 2px 4px rgb(209, 193, 43);
}
.form-container form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}
.form-container form button {
  background: rgb(11, 15, 20);
  font-size: 14px;
  font-weight: 700;
  color: rgb(209, 193, 43);
  font-family: "Montserrat", serif;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.form-container form button:hover {
  background: rgb(26, 38, 53);
}

.form-container input,
textarea,
select {
  font-size: 14px;
  font-weight: 700;
  color: rgb(11, 15, 20);
  font-family: "Montserrat", serif;
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  header {
    padding: 5px 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px 0;
  }
  header nav {
    flex-wrap: wrap;
  }
  .container_home {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px 0;
    text-align: center;
  }
  .container_home img {
    width: 100%;
    max-width: 400px;
  }
  .container_home p {
    font-size: 18px;
    font-weight: 700;
    color: white;
    font-family: "Montserrat", serif;
    text-shadow: 2px 0 1px rgb(177, 175, 164);
  }
  header nav a {
    margin-left: 10px;
  }
}/*# sourceMappingURL=style.css.map */